* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
}

.title-container {
   text-align: center;
   border-bottom: 1px dashed;
   margin: 0px 10px 0px 10px;
}

.dashboard-container {
   display: grid;
   grid-template-columns: 100%;
   padding: 0px;
   /*
   border-style: solid;
   border-width: 2px;
   border-radius: 10px;
   */
}

.grid-item {
   padding: 20px;
   margin: 10px;
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
   height: 350px;
}

#kpi {
   display: flex;
   justify-content: center;
   align-items: center;   
}

#textDiv1, #textDiv2 {
   padding: 10px 50px 10px 50px;
}

@media screen and (min-width: 768px) {
   .dashboard-container {
     grid-template-columns: repeat(2, 1fr);     
   }
 }